<div ng-hide="loading">
<div ng-repeat="post in posts">
<h1>{{post.name}}</h1>
<p>{{post.content}}</p>
<a href="#/comments/{{post.id}}">{{post.comments.length}} voir</a>
<hr style="color:green;">
</div>
</div>
