<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title></title>
  </head>
  <body ng-app="MonApp">
    <div ng-controller="CommentsCtrl">
<input type="text" ng-model="query"/>
<select ui-select2 ng-model="order">
  {{query}}
  <option value="username">Organiser par nom</option>
  <option value="content">Organiser par contenu</option>
</select>

        <div ng-repeat="comment in comments |
         filter:{content:query} | orderBy:order">
        <p>
          <strong>{{comment.username}}</strong><br>
          {{comment.content}}
        </p>
        <input type="text" ng-model="query"/>
        </div>
    </div>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.30/angular.min.js"></script>
<script>
var app = angular.module('MonApp', []);
app.controller('CommentsCtrl', function CommentsCtrl($scope){
  console.log($scope);
  $scope.comments = [
          {
    "username": "Antonia",
    "city": "Brazos",
    "email": "antoniarobbins@dogtown.com",
    "content": "Id sunt amet commodo enim exercitation exercitation culpa anim tempor nulla elit. Ipsum reprehenderit aliqua ipsum consectetur magna eu enim. Ad aliquip Lorem elit aliquip eu tempor nostrud. Ex anim nisi occaecat velit ullamco adipisicing exercitation exercitation aliqua cillum. Tempor laboris ad elit labore aute dolore ea duis ipsum."
          },
          {
    "username": "Dale",
    "city": "Trexlertown",
    "email": "dalerobbins@dogtown.com",
    "content": "Voluptate nostrud est velit qui laborum ea consectetur minim ullamco voluptate nulla. Enim incididunt velit nulla consectetur amet veniam in aliqua ad cupidatat cupidatat mollit. Laboris irure commodo incididunt nostrud cillum do in consectetur esse. Mollit cillum aute incididunt voluptate voluptate proident adipisicing. Nulla ea ut non dolor quis est sunt irure."
          },
          {
    "username": "Marcia",
    "city": "Garberville",
    "email": "marciarobbins@dogtown.com",
    "content": "Elit irure ad cillum officia qui magna consequat nisi reprehenderit commodo velit. Aliquip nostrud ea fugiat nisi sint deserunt sit. Occaecat occaecat in ad cillum proident duis qui irure reprehenderit irure. Ullamco ad cillum magna anim nostrud laborum cillum exercitation sunt minim mollit id. Et non nostrud est qui esse dolore consequat dolore occaecat."
          },
          {
    "username": "Tyson",
    "city": "Veguita",
    "email": "tysonrobbins@dogtown.com",
    "content": "Fugiat cillum eiusmod aute tempor proident ipsum velit velit cillum occaecat laboris. Sit excepteur laborum pariatur et cupidatat adipisicing ex duis. Eiusmod nisi velit exercitation ullamco Lorem excepteur aliqua veniam aute voluptate id tempor officia. Nulla Lorem do id minim consequat. Officia mollit laborum ipsum deserunt et laboris Lorem."
          },
          {
    "username": "Reese",
    "city": "Gardiner",
    "email": "reeserobbins@dogtown.com",
    "content": "Incididunt ea duis laborum ad ullamco duis id aliquip duis est. Consectetur et commodo eu deserunt deserunt velit deserunt fugiat id. Duis sit aliquip adipisicing id non et in exercitation minim occaecat excepteur consectetur esse. Exercitation labore commodo magna excepteur eiusmod anim amet magna mollit in ipsum exercitation ex ipsum. Anim ut culpa laboris non non dolor culpa."
          },
          {
    "username": "Adkins",
    "city": "Orason",
    "email": "adkinsrobbins@dogtown.com",
    "content": "Reprehenderit tempor ullamco mollit mollit labore ex irure. Officia deserunt mollit nostrud exercitation nisi culpa eu dolor. Ad est Lorem ipsum labore quis fugiat eiusmod consequat eu velit ipsum tempor aliquip pariatur. Aliqua laboris irure esse occaecat anim sit deserunt id. Aute aliquip anim minim ex occaecat sit excepteur veniam ut laborum consequat culpa."
          },
          {
    "username": "Maxine",
    "city": "Greenbackville",
    "email": "maxinerobbins@dogtown.com",
    "content": "Anim officia ex cillum et aliqua minim enim sunt dolor qui ut dolor. Sint cupidatat sint cillum nisi. Et velit do tempor ad do laboris ullamco consequat fugiat ipsum non occaecat pariatur. Veniam exercitation officia anim do irure ad ea est reprehenderit cupidatat officia voluptate officia. Aute sit esse est anim incididunt eiusmod."
          }
];

});
</script>
  </body>
</html>
