<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body ng-app>
<input type="text" ng-model="query"/>

    <div ng-init="users=[{username:'Pierre', content:'Salut les kings'}, {username:'Paul', content:'j\'ai faim'}, {username:'Jack', content: 'je suis content'}]">
      <ul>
        <li ng-repeat="user in users | filter:query | orderBy: 'username'">{{user | uppercase}}</li>
      </ul>
    </div>



<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js">

</script>
  </body>
</html>
