<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body ng-app>
<input type="text" ng-model="task"/>
    <div ng-init="users=['pierre', 'paul', 'jack']">
      <ul>
        <li ng-repeat="user in users | filter:'jack'">{{user  |uppercase}}
</li>
      </ul>
      {{users | filter:"pa"}}
    </div>



<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js">

</script>
  </body>
</html>
