<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body ng-app>
<input type="text" ng-model="query"/>
<select ng-model="order">
  <option value="username">Organiser par nom</option>
  <option value="content">Organiser par contenu</option>
</select>
    <div ng-init="users=[{username:'Pierre', content:'Salut les kings'}, {username:'Paul', content:'j\'ai faim'}, {username:'Jack', content: 'first'}]">

        <div ng-repeat="user in users | filter:{content:query} | orderBy:order">
        <p>
          <strong>{{user.username}}</strong><br>
        {{user.content}}
        </p>
        </div>
    </div>



<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js">

</script>
  </body>
</html>
