<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body ng-app>
    <input type="text" ng-model="nbre1"/>
    <input type="text" ng-model="nbre2"/>


    {{"somme :" + (nbre1 * 1 + nbre2 * 1)}}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js">

</script>
  </body>
</html>
