<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body ng-app>
    <input type="text" ng-model="task"/>

    {{"salut " + task}}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js">

</script>
  </body>
</html>
